In [1]:
pip install panda

Requirement already satisfied: panda in c:\users\admin\anaconda3\lib\site-packages (0.3.1)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from panda) (69.5.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from panda) (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->panda) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->panda) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->panda) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv("CSV_catalog.csv")

In [9]:
df

     SR.NO  CODE  TYPE  HEADING  LABELS  STOCKS  COST  DETAILS
0     1001   NaN   NaN      NaN     NaN     NaN   NaN      NaN
1     1002   NaN   NaN      NaN     NaN     NaN   NaN      NaN
2     1003   NaN   NaN      NaN     NaN     NaN   NaN      NaN
3     1004   NaN   NaN      NaN     NaN     NaN   NaN      NaN
4     1005   NaN   NaN      NaN     NaN     NaN   NaN      NaN
..     ...   ...   ...      ...     ...     ...   ...      ...
762   1763   NaN   NaN      NaN     NaN     NaN   NaN      NaN
763   1764   NaN   NaN      NaN     NaN     NaN   NaN      NaN
764   1765   NaN   NaN      NaN     NaN     NaN   NaN      NaN
765   1766   NaN   NaN      NaN     NaN     NaN   NaN      NaN
766   1767   NaN   NaN      NaN     NaN     NaN   NaN      NaN

[767 rows x 8 columns]

In [11]:
fd = pd.read_excel("EXCEL_catalog.xlsx")

In [13]:
fd

,ref,categorie,title,price,tags,description
0,Â B4084600,rings,Love ring,1650.0,yellow gold,"Love ring, 18K yellow gold. Width: 5.5mm."
1,Â B4084900,rings,Love ring,3650.0,platinum,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,Â B4084800,rings,Love ring,1650.0,pink gold,"Love ring, 18K rose gold. Width: 5.5mm."
3,Â B4084700,rings,Love ring,1770.0,white gold,"Love ring, 18K white gold. Width: 5.5mm."
4,Â B4085000,rings,Love wedding band,1070.0,yellow gold,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...
693,Â H8000466,earrings,Pluie de Cartier earrings,32000.0,"white gold, diamonds","Pluie de Cartier earrings, 18K white gold, eac..."
694,Â B8301416,earrings,Clash de Cartier earrings Small Model,NaN,pink gold,"Clash de Cartier earrings, small model, 18K pi..."
695,Â B8301415,earrings,Clash de Cartier earrings Small Model,3900.0,pink gold,"Clash de Cartier earrings, small model, 18K pi..."
696,Â N8515173,earrings,Clash de Cartier earrings Diamonds,NaN,"pink gold, diamonds","Clash de Cartier earrings, 18K pink gold, each..."
697,Â N8515218,earrings,Clash de Cartier earring Large Model,13700.0,"pink gold, amazonite","Clash de Cartier earring, large model, 18K pin..."

In [48]:
import pandas as pd

# Step 1: Read the Excel file
# excel_file_path = 'your_excel_file.xlsx'  # Replace with your actual Excel file path
df = pd.read_excel("EXCEL_catalog.xlsx")

# Step 2: Map columns using a dictionary
column_mapping = {
    "ref":"CODE"
    # "categorie":"TYPE"
    # "title":"HEADING"
    # "LABELS":"tags"
    # "price":"COST"
    # "description":"DETAILS"
    # 'OldColumnName1': 'NewColumnName1',
    # 'OldColumnName2': 'NewColumnName2',
    # Add more column mappings as needed
}
df = df.rename(columns=column_mapping)

# Step 3: Write the DataFrame to a CSV file
# csv_file_path = 'your_output_file.csv'  # Replace with your desired CSV file path
df.to_csv("CSV_catalog.csv", index=False)

print(f"Data has been successfully exported")

Data has been successfully exported

In [35]:
df

,ref,categorie,title,price,tags,description
0,Â B4084600,rings,Love ring,1650.0,yellow gold,"Love ring, 18K yellow gold. Width: 5.5mm."
1,Â B4084900,rings,Love ring,3650.0,platinum,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,Â B4084800,rings,Love ring,1650.0,pink gold,"Love ring, 18K rose gold. Width: 5.5mm."
3,Â B4084700,rings,Love ring,1770.0,white gold,"Love ring, 18K white gold. Width: 5.5mm."
4,Â B4085000,rings,Love wedding band,1070.0,yellow gold,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...
693,Â H8000466,earrings,Pluie de Cartier earrings,32000.0,"white gold, diamonds","Pluie de Cartier earrings, 18K white gold, eac..."
694,Â B8301416,earrings,Clash de Cartier earrings Small Model,NaN,pink gold,"Clash de Cartier earrings, small model, 18K pi..."
695,Â B8301415,earrings,Clash de Cartier earrings Small Model,3900.0,pink gold,"Clash de Cartier earrings, small model, 18K pi..."
696,Â N8515173,earrings,Clash de Cartier earrings Diamonds,NaN,"pink gold, diamonds","Clash de Cartier earrings, 18K pink gold, each..."
697,Â N8515218,earrings,Clash de Cartier earring Large Model,13700.0,"pink gold, amazonite","Clash de Cartier earring, large model, 18K pin..."

In [ ]:
import pandas as pd

# Step 1: Read the Excel file
excel_file_path = 'EXCEL_catalog.xlsx'  # Replace with your actual Excel file path
df = pd.read_excel(excel_file_path)

# Step 2: Map columns using a dictionary
column_mapping = {
    'OldColumnName1': 'NewColumnName1',
    'OldColumnName2': 'NewColumnName2',
    # Add more column mappings as needed
}
df = df.rename(columns=column_mapping)

# Step 3: Write the DataFrame to a CSV file
csv_file_path = 'your_output_file.csv'  # Replace with your desired CSV file path
df.to_csv(csv_file_path, index=False)

print(f"Data has been successfully exported to {csv_file_path}")