In [5]:
import pandas as pd
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [7]:
import numpy as np
a = np.array([1, 2, 3, 4])
a

array([1, 2, 3, 4])

In [5]:
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int32

In [7]:
d = {'A':'a', 'B':'b', 'C':'c'}
pd.Series(d)

A    a
B    b
C    c
dtype: object

In [11]:
pd.Series(data = [10, 20, 30, 40], index = a)

1    10
2    20
3    30
4    40
dtype: int64

In [13]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
ser2 = pd.Series(data = [1, 2, 3, 4], index = ['A', 'B', 'Z', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [24]:
ser1 + ser2

A    2.0
B    4.0
C    NaN
D    8.0
Z    NaN
dtype: float64

In [27]:
from numpy.random import randn
import pandas as pd
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'P Q R S'.split())
df

          P         Q         R         S
A  0.270972 -0.463779 -0.370019  0.274515
B  0.122212  0.945608  1.202115 -0.271846
C -0.817596  0.205754  0.371640  0.361765
D -0.322243  0.364809 -1.006184 -1.749396
E  0.802882 -0.689783 -0.095396  0.669811

In [29]:
df['P']

A    0.270972
B    0.122212
C   -0.817596
D   -0.322243
E    0.802882
Name: P, dtype: float64

In [31]:
df['P']

A    0.270972
B    0.122212
C   -0.817596
D   -0.322243
E    0.802882
Name: P, dtype: float64

In [38]:
df.loc[['A','B'],['P','Q']]

          P         Q
A  0.270972 -0.463779
B  0.122212  0.945608

In [40]:
df.loc['A', 'P']

0.27097167576855746

In [15]:
from numpy.random import randn
import pandas as pd
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'P Q R S'.split())
df[df['P']>0]['P']

A    0.002498
B    1.282842
C    0.320215
D    1.391585
Name: P, dtype: float64

In [44]:
df[df['P']>0]

          P         Q         R         S
A  0.270972 -0.463779 -0.370019  0.274515
B  0.122212  0.945608  1.202115 -0.271846
E  0.802882 -0.689783 -0.095396  0.669811

In [46]:
df[df['P']>0]['P']

A    0.270972
B    0.122212
E    0.802882
Name: P, dtype: float64

In [48]:
df

          P         Q         R         S
A  0.270972 -0.463779 -0.370019  0.274515
B  0.122212  0.945608  1.202115 -0.271846
C -0.817596  0.205754  0.371640  0.361765
D -0.322243  0.364809 -1.006184 -1.749396
E  0.802882 -0.689783 -0.095396  0.669811

In [52]:
df.reset_index()

  index         P         Q         R         S
0     A  0.270972 -0.463779 -0.370019  0.274515
1     B  0.122212  0.945608  1.202115 -0.271846
2     C -0.817596  0.205754  0.371640  0.361765
3     D -0.322243  0.364809 -1.006184 -1.749396
4     E  0.802882 -0.689783 -0.095396  0.669811

In [62]:
df['Index'] = lst

In [64]:
lst = 'AA BB CC DD EE'.split()

In [66]:
df

          P         Q         R         S Index
A  0.270972 -0.463779 -0.370019  0.274515    AA
B  0.122212  0.945608  1.202115 -0.271846    BB
C -0.817596  0.205754  0.371640  0.361765    CC
D -0.322243  0.364809 -1.006184 -1.749396    DD
E  0.802882 -0.689783 -0.095396  0.669811    EE

In [20]:
df

          P         Q         R         S
A  0.002498  0.849404 -0.396641 -0.210764
B  1.282842 -1.269789 -1.691727 -1.174516
C  0.320215  0.467140 -0.234723 -0.184109
D  1.391585  0.224435 -0.321665  0.788242
E -0.615405  1.314302 -0.361034  0.218067

In [22]:
df.set_index('Index')

KeyError: "None of ['Index'] are in the columns"

In [68]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [70]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [72]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.121077  0.104740
   2 -0.793614 -1.953505
   3  0.518206 -2.275785
G2 1 -0.183827  0.326690
   2 -0.550454  1.410665
   3  0.050844 -0.292845

In [74]:
df.loc['G1']

          A         B
1  0.121077  0.104740
2 -0.793614 -1.953505
3  0.518206 -2.275785

In [80]:
df.loc['G1'].loc[1]

A    0.121077
B    0.104740
Name: 1, dtype: float64

In [82]:
df.index.names = ['Group','Num']
df

                  A         B
Group Num
G1    1    0.121077  0.104740
      2   -0.793614 -1.953505
      3    0.518206 -2.275785
G2    1   -0.183827  0.326690
      2   -0.550454  1.410665
      3    0.050844 -0.292845

In [103]:
df

                  A         B
Group Num
G1    1    0.121077  0.104740
      2   -0.793614 -1.953505
      3    0.518206 -2.275785
G2    1   -0.183827  0.326690
      2   -0.550454  1.410665
      3    0.050844 -0.292845

In [112]:
df.xs(1, level='Num')

              A        B
Group
G1     0.121077  0.10474
G2    -0.183827  0.32669

In [24]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [ ]:
df.dropna()