In [1]:
import pandas as pd
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [3]:
import numpy as np
a = np.array([1, 2, 3, 4])
a

array([1, 2, 3, 4])

In [5]:
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int32

In [7]:
d = {'A':'a', 'B':'b', 'C':'c'}
pd.Series(d)

A    a
B    b
C    c
dtype: object

In [11]:
pd.Series(data = [10, 20, 30, 40], index = a)

1    10
2    20
3    30
4    40
dtype: int64

In [13]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
ser2 = pd.Series(data = [1, 2, 3, 4], index = ['A', 'B', 'Z', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [24]:
ser1 + ser2

A    2.0
B    4.0
C    NaN
D    8.0
Z    NaN
dtype: float64

In [27]:
from numpy.random import randn
import pandas as pd
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'P Q R S'.split())
df

          P         Q         R         S
A  0.270972 -0.463779 -0.370019  0.274515
B  0.122212  0.945608  1.202115 -0.271846
C -0.817596  0.205754  0.371640  0.361765
D -0.322243  0.364809 -1.006184 -1.749396
E  0.802882 -0.689783 -0.095396  0.669811

In [29]:
df['P']

A    0.270972
B    0.122212
C   -0.817596
D   -0.322243
E    0.802882
Name: P, dtype: float64

In [31]:
df['P']

A    0.270972
B    0.122212
C   -0.817596
D   -0.322243
E    0.802882
Name: P, dtype: float64

In [33]:
df.loc[['A','B']['P','Q']]

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\admin\AppData\Local\Temp\ipykernel_5024\341313311.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc(['A','B']['P','Q'])
C:\Users\admin\AppData\Local\Temp\ipykernel_5024\341313311.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc(['A','B']['P','Q'])
C:\Users\admin\AppData\Local\Temp\ipykernel_5024\341313311.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc(['A','B']['P','Q'])
C:\Users\admin\AppData\Local\Temp\ipykernel_5024\341313311.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc(['A','B']['P','Q'])
C:\Users\admin\AppData\Local\Temp\ipykernel_5024\341313311.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc(['A','B']['P','Q'])

TypeError: list indices must be integers or slices, not tuple