In [86]:
import pandas as pd

In [88]:
df = pd.read_excel("EXCEL_catalog.xlsx")

In [90]:
column_mapping =  {
    "ref":"CODE",
    "categorie":"TYPE",
    "title":"HEADING",
    "tags":"LABELS",
    "price":"COST",
    "description":"DETAILS"
}

In [92]:
df = df.rename(columns=column_mapping)

In [96]:
columns = ['CODE', 'TYPE', 'HEADING', 'LABELS', 'COST', 'DETAILS']

In [98]:
# Reorder the DataFrame using the new column order
df = df[columns]

In [100]:
df.to_csv("CSV_catalog.csv", index=False)

print(f"Data has been successfully imported")

Data has been successfully imported

In [102]:
df

,CODE,TYPE,HEADING,LABELS,COST,DETAILS
0,Â B4084600,rings,Love ring,yellow gold,1650.0,"Love ring, 18K yellow gold. Width: 5.5mm."
1,Â B4084900,rings,Love ring,platinum,3650.0,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,Â B4084800,rings,Love ring,pink gold,1650.0,"Love ring, 18K rose gold. Width: 5.5mm."
3,Â B4084700,rings,Love ring,white gold,1770.0,"Love ring, 18K white gold. Width: 5.5mm."
4,Â B4085000,rings,Love wedding band,yellow gold,1070.0,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...
693,Â H8000466,earrings,Pluie de Cartier earrings,"white gold, diamonds",32000.0,"Pluie de Cartier earrings, 18K white gold, eac..."
694,Â B8301416,earrings,Clash de Cartier earrings Small Model,pink gold,NaN,"Clash de Cartier earrings, small model, 18K pi..."
695,Â B8301415,earrings,Clash de Cartier earrings Small Model,pink gold,3900.0,"Clash de Cartier earrings, small model, 18K pi..."
696,Â N8515173,earrings,Clash de Cartier earrings Diamonds,"pink gold, diamonds",NaN,"Clash de Cartier earrings, 18K pink gold, each..."
697,Â N8515218,earrings,Clash de Cartier earring Large Model,"pink gold, amazonite",13700.0,"Clash de Cartier earring, large model, 18K pin..."

In [120]:
# Remove Special Characters
df["CODE"] = df["CODE"].str.strip("Â")
print("The Special Characters was removed")

The Special Characters was removed

In [122]:
df

,CODE,TYPE,HEADING,LABELS,COST,DETAILS
0,B4084600,rings,Love ring,yellow gold,1650.0,"Love ring, 18K yellow gold. Width: 5.5mm."
1,B4084900,rings,Love ring,platinum,3650.0,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,B4084800,rings,Love ring,pink gold,1650.0,"Love ring, 18K rose gold. Width: 5.5mm."
3,B4084700,rings,Love ring,white gold,1770.0,"Love ring, 18K white gold. Width: 5.5mm."
4,B4085000,rings,Love wedding band,yellow gold,1070.0,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...
693,H8000466,earrings,Pluie de Cartier earrings,"white gold, diamonds",32000.0,"Pluie de Cartier earrings, 18K white gold, eac..."
694,B8301416,earrings,Clash de Cartier earrings Small Model,pink gold,NaN,"Clash de Cartier earrings, small model, 18K pi..."
695,B8301415,earrings,Clash de Cartier earrings Small Model,pink gold,3900.0,"Clash de Cartier earrings, small model, 18K pi..."
696,N8515173,earrings,Clash de Cartier earrings Diamonds,"pink gold, diamonds",NaN,"Clash de Cartier earrings, 18K pink gold, each..."
697,N8515218,earrings,Clash de Cartier earring Large Model,"pink gold, amazonite",13700.0,"Clash de Cartier earring, large model, 18K pin..."

In [124]:
# Add Currency Symbol
df['COST'] = df['COST'].apply(lambda x: f'{x:.2f} INR')
print("The currency symbol was added")

The currency symbol was added

In [126]:
df

,CODE,TYPE,HEADING,LABELS,COST,DETAILS
0,B4084600,rings,Love ring,yellow gold,1650.00 INR,"Love ring, 18K yellow gold. Width: 5.5mm."
1,B4084900,rings,Love ring,platinum,3650.00 INR,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,B4084800,rings,Love ring,pink gold,1650.00 INR,"Love ring, 18K rose gold. Width: 5.5mm."
3,B4084700,rings,Love ring,white gold,1770.00 INR,"Love ring, 18K white gold. Width: 5.5mm."
4,B4085000,rings,Love wedding band,yellow gold,1070.00 INR,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...
693,H8000466,earrings,Pluie de Cartier earrings,"white gold, diamonds",32000.00 INR,"Pluie de Cartier earrings, 18K white gold, eac..."
694,B8301416,earrings,Clash de Cartier earrings Small Model,pink gold,nan INR,"Clash de Cartier earrings, small model, 18K pi..."
695,B8301415,earrings,Clash de Cartier earrings Small Model,pink gold,3900.00 INR,"Clash de Cartier earrings, small model, 18K pi..."
696,N8515173,earrings,Clash de Cartier earrings Diamonds,"pink gold, diamonds",nan INR,"Clash de Cartier earrings, 18K pink gold, each..."
697,N8515218,earrings,Clash de Cartier earring Large Model,"pink gold, amazonite",13700.00 INR,"Clash de Cartier earring, large model, 18K pin..."

In [128]:
default_costs = {
    'earrings': '5000 INR',
    'necklaces': '6000 INR',
    'rings': '7000 INR',
    'bracelets': '8000 INR'
}

def fill_cost(row):
    if pd.isna(row['COST']) or 'nan' in str(row['COST']):
        item_type = row['TYPE']
        return default_costs.get(item_type, row['COST'])  
    return row['COST']

# Apply the function to the DataFrame
df['COST'] = df.apply(fill_cost, axis=1)
print("Missing cost values were filled")

Missing cost values were filled

In [130]:
df

,CODE,TYPE,HEADING,LABELS,COST,DETAILS
0,B4084600,rings,Love ring,yellow gold,1650.00 INR,"Love ring, 18K yellow gold. Width: 5.5mm."
1,B4084900,rings,Love ring,platinum,3650.00 INR,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,B4084800,rings,Love ring,pink gold,1650.00 INR,"Love ring, 18K rose gold. Width: 5.5mm."
3,B4084700,rings,Love ring,white gold,1770.00 INR,"Love ring, 18K white gold. Width: 5.5mm."
4,B4085000,rings,Love wedding band,yellow gold,1070.00 INR,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...
693,H8000466,earrings,Pluie de Cartier earrings,"white gold, diamonds",32000.00 INR,"Pluie de Cartier earrings, 18K white gold, eac..."
694,B8301416,earrings,Clash de Cartier earrings Small Model,pink gold,5000 INR,"Clash de Cartier earrings, small model, 18K pi..."
695,B8301415,earrings,Clash de Cartier earrings Small Model,pink gold,3900.00 INR,"Clash de Cartier earrings, small model, 18K pi..."
696,N8515173,earrings,Clash de Cartier earrings Diamonds,"pink gold, diamonds",5000 INR,"Clash de Cartier earrings, 18K pink gold, each..."
697,N8515218,earrings,Clash de Cartier earring Large Model,"pink gold, amazonite",13700.00 INR,"Clash de Cartier earring, large model, 18K pin..."

In [132]:
stock_mapping = {
    'earrings': 15,
    'necklaces': 20,
    'rings': 25,
    'bracelets': 10
}
df['STOCKS'] = df['TYPE'].replace(stock_mapping)

C:\Users\admin\AppData\Local\Temp\ipykernel_15400\686494699.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['STOCKS'] = df['TYPE'].replace(stock_mapping)

In [147]:
df.to_csv("CSV_catalog.csv", index=False)

In [151]:
duplicates = df[df.duplicated(keep=False)]
duplicates.to_csv("Duplicate.csv", index=False)

print("Duplicate entries have been successfully saved to 'Duplicate.csv'.")

Duplicate entries have been successfully saved to 'Duplicate.csv'.

In [154]:
df

,CODE,TYPE,HEADING,LABELS,STOCKS,COST,DETAILS
0,B4084600,rings,Love ring,yellow gold,25,1650.00 INR,"Love ring, 18K yellow gold. Width: 5.5mm."
1,B4084900,rings,Love ring,platinum,25,3650.00 INR,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,B4084800,rings,Love ring,pink gold,25,1650.00 INR,"Love ring, 18K rose gold. Width: 5.5mm."
3,B4084700,rings,Love ring,white gold,25,1770.00 INR,"Love ring, 18K white gold. Width: 5.5mm."
4,B4085000,rings,Love wedding band,yellow gold,25,1070.00 INR,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...,...
693,H8000466,earrings,Pluie de Cartier earrings,"white gold, diamonds",15,32000.00 INR,"Pluie de Cartier earrings, 18K white gold, eac..."
694,B8301416,earrings,Clash de Cartier earrings Small Model,pink gold,15,5000 INR,"Clash de Cartier earrings, small model, 18K pi..."
695,B8301415,earrings,Clash de Cartier earrings Small Model,pink gold,15,3900.00 INR,"Clash de Cartier earrings, small model, 18K pi..."
696,N8515173,earrings,Clash de Cartier earrings Diamonds,"pink gold, diamonds",15,5000 INR,"Clash de Cartier earrings, 18K pink gold, each..."
697,N8515218,earrings,Clash de Cartier earring Large Model,"pink gold, amazonite",15,13700.00 INR,"Clash de Cartier earring, large model, 18K pin..."

In [157]:
# Remove Duplicate Entries
df = df.drop_duplicates()
print("The Duplicates are removed")
df.to_csv("CSV_catalog.csv", index=False)

The Duplicates are removed

In [161]:
df

,CODE,TYPE,HEADING,LABELS,STOCKS,COST,DETAILS
0,B4084600,rings,Love ring,yellow gold,25,1650.00 INR,"Love ring, 18K yellow gold. Width: 5.5mm."
1,B4084900,rings,Love ring,platinum,25,3650.00 INR,"Love ring, 950/1000 platinum. Width: 5.5mm."
2,B4084800,rings,Love ring,pink gold,25,1650.00 INR,"Love ring, 18K rose gold. Width: 5.5mm."
3,B4084700,rings,Love ring,white gold,25,1770.00 INR,"Love ring, 18K white gold. Width: 5.5mm."
4,B4085000,rings,Love wedding band,yellow gold,25,1070.00 INR,"Love wedding band, 18K yellow gold. Width: 3.6mm."
...,...,...,...,...,...,...,...
693,H8000466,earrings,Pluie de Cartier earrings,"white gold, diamonds",15,32000.00 INR,"Pluie de Cartier earrings, 18K white gold, eac..."
694,B8301416,earrings,Clash de Cartier earrings Small Model,pink gold,15,5000 INR,"Clash de Cartier earrings, small model, 18K pi..."
695,B8301415,earrings,Clash de Cartier earrings Small Model,pink gold,15,3900.00 INR,"Clash de Cartier earrings, small model, 18K pi..."
696,N8515173,earrings,Clash de Cartier earrings Diamonds,"pink gold, diamonds",15,5000 INR,"Clash de Cartier earrings, 18K pink gold, each..."
697,N8515218,earrings,Clash de Cartier earring Large Model,"pink gold, amazonite",15,13700.00 INR,"Clash de Cartier earring, large model, 18K pin..."

In [166]:
# Remove 'INR' and convert to float
df['COST'] = df['COST'].replace({' INR': '', ',': ''}, regex=True).astype(float)
df = df.sort_values(by=['TYPE', 'COST'], ascending=[True, True])
df['COST'] = df['COST'].apply(lambda x: f'{x:.2f} INR')
print("The currency symbol was added")
df.to_csv("CSV_catalog.csv", index=False)

The currency symbol was added

C:\Users\admin\AppData\Local\Temp\ipykernel_15400\798884924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['COST'] = df['COST'].replace({' INR': '', ',': ''}, regex=True).astype(float)

In [168]:
df

,CODE,TYPE,HEADING,LABELS,STOCKS,COST,DETAILS
346,B6016700,bracelets,Trinity bracelet,"white gold, yellow gold, pink gold",10,580.00 INR,"Trinity bracelet, 18K white gold, 18K rose gol..."
347,B6046200,bracelets,Trinity bracelet,"white gold, ceramic",10,580.00 INR,"Trinity bracelet, 18K white gold, black cerami..."
359,B6045617,bracelets,Diamants LÃ©gers bracelet XS,"yellow gold, diamond",10,760.00 INR,"Diamants LÃ©gers bracelet, 18K yellow gold, se..."
360,B6045717,bracelets,Diamants LÃ©gers bracelet XS,"pink gold, diamond",10,760.00 INR,"Diamants LÃ©gers bracelet, 18K pink gold, set ..."
361,B6045517,bracelets,Diamants LÃ©gers bracelet XS,"white gold, diamond",10,820.00 INR,"Diamants LÃ©gers bracelet, 18K white gold, set..."
...,...,...,...,...,...,...,...
37,H4078300,rings,PanthÃ¨re de Cartier ring,"platinum, sapphires, emeralds, diamonds",25,132000.00 INR,"Ring - platinum, sapphires, emerald eyes, onyx..."
80,H4226000,rings,Faune et Flore de Cartier ring,"platinum, emeralds, diamonds",25,143000.00 INR,"Ring - 950â€° platinum, 749 brilliant-cut diam..."
69,H4179600,rings,PanthÃ¨re de Cartier ring,"white gold, emeralds, onyx, diamonds",25,171000.00 INR,"Ring - white gold, pear-shaped emerald eyes, o..."
73,H4226300,rings,PanthÃ¨re de Cartier ring,"platinum, emeralds, onyx, diamonds",25,183000.00 INR,"Ring - 950â€° platinum, 700 brilliant-cut diam..."
70,H4183300,rings,PanthÃ¨re de Cartier ring,"platinum, sapphires, emeralds, onyx, diamonds",25,217000.00 INR,"Ring - 950â€° platinum, 700 brilliant-cut diam..."

In [177]:
df.insert(0, 'SR.No', range(1001, 1690))

In [179]:
df

,SR.No,CODE,TYPE,HEADING,LABELS,STOCKS,COST,DETAILS
346,1001,B6016700,bracelets,Trinity bracelet,"white gold, yellow gold, pink gold",10,580.00 INR,"Trinity bracelet, 18K white gold, 18K rose gol..."
347,1002,B6046200,bracelets,Trinity bracelet,"white gold, ceramic",10,580.00 INR,"Trinity bracelet, 18K white gold, black cerami..."
359,1003,B6045617,bracelets,Diamants LÃ©gers bracelet XS,"yellow gold, diamond",10,760.00 INR,"Diamants LÃ©gers bracelet, 18K yellow gold, se..."
360,1004,B6045717,bracelets,Diamants LÃ©gers bracelet XS,"pink gold, diamond",10,760.00 INR,"Diamants LÃ©gers bracelet, 18K pink gold, set ..."
361,1005,B6045517,bracelets,Diamants LÃ©gers bracelet XS,"white gold, diamond",10,820.00 INR,"Diamants LÃ©gers bracelet, 18K white gold, set..."
...,...,...,...,...,...,...,...,...
37,1685,H4078300,rings,PanthÃ¨re de Cartier ring,"platinum, sapphires, emeralds, diamonds",25,132000.00 INR,"Ring - platinum, sapphires, emerald eyes, onyx..."
80,1686,H4226000,rings,Faune et Flore de Cartier ring,"platinum, emeralds, diamonds",25,143000.00 INR,"Ring - 950â€° platinum, 749 brilliant-cut diam..."
69,1687,H4179600,rings,PanthÃ¨re de Cartier ring,"white gold, emeralds, onyx, diamonds",25,171000.00 INR,"Ring - white gold, pear-shaped emerald eyes, o..."
73,1688,H4226300,rings,PanthÃ¨re de Cartier ring,"platinum, emeralds, onyx, diamonds",25,183000.00 INR,"Ring - 950â€° platinum, 700 brilliant-cut diam..."
70,1689,H4183300,rings,PanthÃ¨re de Cartier ring,"platinum, sapphires, emeralds, onyx, diamonds",25,217000.00 INR,"Ring - 950â€° platinum, 700 brilliant-cut diam..."

In [184]:
df.to_csv("CSV_catalog.csv", index=False)

In [191]:
df.index = range(0, 689)

df


# Save the DataFrame to a CSV file with the new index
df.to_csv("CSV_catalog", index=True)

print("Data has been successfully exported with the index replaced from 100 to 200.")

Data has been successfully exported with the index replaced from 100 to 200.

In [193]:
df

,SR.No,CODE,TYPE,HEADING,LABELS,STOCKS,COST,DETAILS
0,1001,B6016700,bracelets,Trinity bracelet,"white gold, yellow gold, pink gold",10,580.00 INR,"Trinity bracelet, 18K white gold, 18K rose gol..."
1,1002,B6046200,bracelets,Trinity bracelet,"white gold, ceramic",10,580.00 INR,"Trinity bracelet, 18K white gold, black cerami..."
2,1003,B6045617,bracelets,Diamants LÃ©gers bracelet XS,"yellow gold, diamond",10,760.00 INR,"Diamants LÃ©gers bracelet, 18K yellow gold, se..."
3,1004,B6045717,bracelets,Diamants LÃ©gers bracelet XS,"pink gold, diamond",10,760.00 INR,"Diamants LÃ©gers bracelet, 18K pink gold, set ..."
4,1005,B6045517,bracelets,Diamants LÃ©gers bracelet XS,"white gold, diamond",10,820.00 INR,"Diamants LÃ©gers bracelet, 18K white gold, set..."
...,...,...,...,...,...,...,...,...
684,1685,H4078300,rings,PanthÃ¨re de Cartier ring,"platinum, sapphires, emeralds, diamonds",25,132000.00 INR,"Ring - platinum, sapphires, emerald eyes, onyx..."
685,1686,H4226000,rings,Faune et Flore de Cartier ring,"platinum, emeralds, diamonds",25,143000.00 INR,"Ring - 950â€° platinum, 749 brilliant-cut diam..."
686,1687,H4179600,rings,PanthÃ¨re de Cartier ring,"white gold, emeralds, onyx, diamonds",25,171000.00 INR,"Ring - white gold, pear-shaped emerald eyes, o..."
687,1688,H4226300,rings,PanthÃ¨re de Cartier ring,"platinum, emeralds, onyx, diamonds",25,183000.00 INR,"Ring - 950â€° platinum, 700 brilliant-cut diam..."
688,1689,H4183300,rings,PanthÃ¨re de Cartier ring,"platinum, sapphires, emeralds, onyx, diamonds",25,217000.00 INR,"Ring - 950â€° platinum, 700 brilliant-cut diam..."